@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.div-contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap:0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.div-contenedor>.header, .div-contenedor>.div-nav, .div-contenedor>.contenido,.div-contenedor>.footer {
    background: #fff;
    padding: 10px;
    
}
.div-contenedor>.header{
    grid-column: 1/2;
    background-color:#1e272e;
    color: #ffffff;
    padding: 20px;

}
.div-contenedor>.div-nav{
    grid-column: 2/4;
    background-color: #1e272e;
    color: #ffffff;
 

    
 
}
.div-contenedor>.contenido{
    grid-column: 1/4; 
   
   

}
.div-contenedor>.footer {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.h1 a{
    color: rgb(43, 13, 237);
    text-decoration: none;


}
.a .logo-auto{
    font-weight: 800;
    color: #fff;
    
}
.a .logo-landia{
    font-family: jura,sans-serif;
    color: red;
}
.nav-menu a {
    background: none;
	color: #FFFFFF;
	/*display: block;*/
	font: bold 90% monospace;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.nav-menu li{
    display: block;
    padding: 1px;
    /*color: rgb(179, 255, 0);*/
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    float: left;
	position: relative;
	width:auto;
    margin-right: 5px; 
}
.nav-menu .menu{
    padding: 10px;
}
.nav-menu li:hover a {
	
    color: red;
    cursor: pointer;
}

button{
    cursor: pointer;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
body {
    background-image: repeating-linear-gradient(45deg, #280808 0, #280808 2px, transparent 0, transparent 50%);
    background-size: 31px 31px;
    background-color: #000001;
}
  
/*index*/
.section-1{
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin: auto;
    gap:0px;
    background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url('../img/autos-AGENCIA.jpg');
}
.boton a{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(237, 13, 13);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    text-decoration: none;
}
.boton{
    padding: 2%;
}
.texto p{
    color:#fff;
    font-size: 3em;
    padding: 2%;
}
.autos{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    
}
.autos>.autos-c1, .autos>.autos-c2,.autos>.autos-c3,.autos>.autos-c4 {
    background: #fff;       
}
.auto img{
    width: 290px;
    height: 180px;
    
}
.autos>.titulo-h5{
    grid-column: 1/5;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5em;
}
.autos>.autos-c1{
    grid-column: 1/2;
}
.autos>.autos-c2{
    grid-column: 2/3;
}
.autos>.autos-c3{
    grid-column: 3/4;
}
.autos>.autos-c4{
    grid-column: 4/5;
}
/*busca tu auto*/
.section-top{
    padding: 3%;
}
.section-titulo h2{
    font-size: 3em;
}
.parrafo{
    padding-top: 2%;
    font-size: 2em;
    text-align: justify;
}
.buscar-autos{
    padding: 2%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap:0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.buscar-autos>.b1{
    background: #fff;
    padding: 10px;   
}
.b1{
   
    width: 100%;
    max-width: 600px;
    margin: auto;
    gap:0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 350px 75px 25px;
}
.b1>.b1-img{
    grid-column: 1/3;
   
}
.b1-img img{
    width: 550px;
    height: 350px;
}
.b1>.b1-h6{
    grid-column: 1/2;
    grid-row: 2/4;
    font-size: 2.5em;
}
.b1-a a{
    text-decoration: none;
    border: 1px solid black;
    padding: 3px 90px;
    color: white;
    background-color: #000001;
}
.b1-a{
    text-align: center;
}
.b1 .b1-a:hover a {	
    color: white;
    cursor: pointer;
    border: 1px solid red ;
    background-color: red;
   
}
@media screen and (max-width:1700px ){
    .auto img {
        position: 50%;
    }
   

}

@media screen and (max-width:1200px ){
    .auto img {
        width: 250px;
        height: 200px;
    }

    .texto p {
        
        font-size: 40px
    }

    .boton a {
        width: 250px;
        height: 200px;
    }
    
}

@media screen and (max-width:1020px ){
    .auto img {
        width: 200px;
        height: 150px;
    }
}
@media screen and (max-width:820px ){
    .auto img {
        width: 130px;
        height: 90px;
        padding-top: 10px;
       
    }
    .texto p {
        
        font-size: 32px
    }

    .section-1{
        padding: 20px;
        width: 500px;
    }

    .div-contenedor>.header, .div-contenedor>.div-nav, .div-contenedor>.contenido,.div-contenedor>.footer{
        width: 550px;
    }

    .nav-menu a{
        font-size: 20px;
       
    }

    .div-contenedor>.div-nav{
        width: 375px;
        
    }

    .div-contenedor>.header{
        width: 200px;
    }

    .a .logo-auto{
        font-size: 29px;
     
    }

    .a .logo-landia{
        font-size: 29px;

    }

    .autos>.autos-c1, .autos>.autos-c2,.autos>.autos-c3,.autos>.autos-c4{
        width: 100px;
        height: 534px;
    }

    .autos>.titulo-h5{
        padding-top: 30px;
        font-size: 22px;
    }

   
}


/*financiamiento*/
.financiamiento{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap: 0px;
    display: grid;
    grid-template-columns: 860px auto;
    
}
.fi-info{
    grid-column: 1/2;
    

}
.dolar{
    grid-column: 2/3;
    
    
}
.boton-dolar{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.ver-dolar{
    text-align: center;
    font-weight: bold;  
}
.fi-h1{
    margin-top: 2%;
    padding: 5% 0;
    
    text-align: center;
}
.titulo-fi{
    margin: 2%;
    font-size: 2em;
    padding: 1%;
}
.parrafo-fi{
    margin: 2%;
    padding: 2%;
    font-size: 1.6em;
    text-align: justify;
}
.h6-fi{
    margin: 2%;
    font-size: 3em;
    padding: 1%;
}
.a-fi{
    margin: 5% 2%;
    font-size: 1em;
    padding: 1%;
    
}
.a-fi a{
    padding: 15px;
    font-size: 24px;
    border: none;
    outline: 0px;
    background: rgb(237, 13, 13);
    color: white;
    font-weight: bold;  
    border-radius: 12px;
    cursor: pointer;
    transition: all 300ms ease;
    text-decoration: none;
}
.a-fi:hover a {	
    color: white;
    cursor: pointer;
    border: 2px solid red ;
}

/*contacto*/
.container-form{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: rgb(7, 1, 1);
    font-weight: 700;
}
.container-form a i{
    color: rgb(43, 13, 237);
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(43, 13, 237);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: rgb(43, 13, 237);
}
/*Nosotros*/
.container {
    margin: auto;

}
.section {
    width: 75%;
    margin: auto;
    padding: 75px 0;

}
.section-title{
    font-family:"roboto",sans-serif;
    font-size: 40px;
    color:rgb(43, 13, 237);
    font-weight: bold;
    margin: 25px 0;

}
.us{
    display: flex;

}
.us-text{
    width: 60%;
    padding: 0 10% 0 0;

}
.paragraph-text{
    margin: 10px 0;

}
.us-paragraph{
    font-family:"roboto",sans-serif;
    font-size: 18px;
    color: #050505;
    text-align: justify;
    

}
.us-rs{
    margin: 20px 0;

}
.us-rs-title{
    font-family:"roboto",sans-serif;
    font-size: 20px;
    color: rgb(130, 176, 255);
    font-weight: bold;
    margin: 30px 0;


}
.rs-icon{
    margin: 20px 0;
    
}
.rs-link{
    margin: 0 10px;

}
.us-img{
    width: 60%;

}
.img-img{
    object-fit: cover;
    width: 100%;
    

}